



<div class="card">
    <div class="card-header">
        <h2>GetEmployee</h2>
    </div>
    <div class="card-body">
        <div class="col-6">
            <label>EmployeeName</label>
            <input type="text" class="Form-control mt-2" placeholder="EmployeeName" />
        </div>
        <div class="col-6">
            <label>Email</label>
            <input type="text" class="Form-control mt-2" placeholder="Email" />
        </div>
        <div class="col-6">
            <label>PhoneNumber</label>
            <input type="text" class="Form-control mt-2" placeholder="PhoneNumber" />
        </div>
        <div class="col-6">
            <label>Address</label>
            <input type="text" class="Form-control mt-2" placeholder="Address" />
        </div>
        <div>
            <button type="button" class="btn btn-primary" id="SaveEmployee">Submit</button>
        </div>

    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/GetEmployee.js"></script>
