
<div class="container-fluid" style="margin-left:300px;margin-top:100px">
    <div class=" card col-6 mt-5">
        <div class="card-header"><h3>Login</h3></div>
        <div class="card-body"style="margin-left:50px;">
            <div class="col-10">
                <label ><b>Username</b></label>
                <input type="text" class="form-control mb-3" id="txtusername" placeholder="Enter Username" />
            </div>
            <div class="col-10">
                <label><b>Password</b></label>
                <input type="text" class="form-control" id="txtPassword" placeholder="Enter Password" />
            </div>
            <button type="button" id="submitButton" class="btn btn-primary" >Signup</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/Loginscript.js"></script>



